<!DOCTYPE html>
<html>
  <head>
    <title><%= filename %> - Hosted on MagiCloud</title>
    <link rel="shortcut icon" href="/cloud.png">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <article>
    <div><br>
      <img src="/uploads/<%= filename %>" width="500" alt="File Preview">
      <h1>File Info</h2>
      <h2><%= filename %> on MagiCloud</h1>
      <h3>File size: <%= size %></h3>
      <h3>File type: <%= type %></h3>
      <h3>File link:</h3>
      <input value="https://MagiCloud.ParrotDev.repl.co/uploads/<%= filename %>" type="text" readonly><br><br>
      <h1>File Actions</h1>
      <button onclick="copyLink()" style="height:40px; margin-left:10px">Copy Link</button><button onclick="window.open('/file/<%= filename %>/download')">Download file</button><br><br>
      <button onclick="window.open('/uploads/<%= filename %>/')">Open file</button><button onclick="location.href = '/'">Add new file</button><br><br>
    </div>
    </article>
    <script>
      function copyLink(){
        document.querySelector("input").select();
        document.execCommand("copy");
        window.getSelection().removeAllRanges();
      }
    </script>
  </body>
</html>